<section class="panel panel-default">
    <a class="panel-heading reservation-accordion collapsed" role="tab" id="headingFourf" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <h4 class="panel-title">
                <span>2</span> <strong>Rewards and Offers</strong>
               <i class="fa fa-angle-down "></i>
            </h4>
    </a>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
       <div class="container-fluid">
            <h4>What type of add-ons?</h4>

            <section class="radio-list row" id="radio-list-reward">
                <article class="radio-list-block col-md-4">
                    <div class="radio-list-body">
                        <input type="radio" id="radio-list-reward-0" class="check" name=reward {{#ifCond selectedReward 'Basket' }} checked="true" {{/ifCond}}></input>
                        <label for="radio-list-reward-0" data-cover="" data-cover-alt="Image for room"  data-cover-size="sm" class="cover">
                            <div class="radio-list-overlay">
                                <h4 class="title">Complimentary Welcome Basket</h4>
                            </div>
                        </label>
                    </div>
                </article>
                 <article class="radio-list-block col-md-4">
                    <div class="radio-list-body">
                        <input type="radio" id="radio-list-reward-1" class="check" name=reward {{#ifCond selectedReward 'Wifi' }} checked="true" {{/ifCond}}></input>
 
                        <label for="radio-list-reward-1" data-cover="" data-cover-alt="Image for room"  data-cover-size="sm" class="cover">

                            <div class="radio-list-overlay">
                                <h4 class="title">FREE Wifi</h4>
                            </div>
                        </label>
                    </div>
                </article>
                <article class="radio-list-block col-md-4">
                    <div class="radio-list-body">
                        <input type="radio" id="radio-list-reward-2" class="check" name=reward {{#ifCond selectedReward 'Breakfast' }} checked="true" {{/ifCond}}></input>
                        <label for="radio-list-reward-2" data-cover="" data-cover-alt="Image for room"  data-cover-size="sm" class="cover">
                            <div class="radio-list-overlay">
                                <h4 class="title">FREE Breakfast</h4>
                            </div>
                        </label>
                    </div>
                </article>
            </section>

            <section class="radio-list row" id="radio-list-reward2">
                <article class="radio-list-block col-md-4">
                    <div class="radio-list-body">
                        <input type="radio" id="radio-list-reward2-0" class="check" name=reward {{#ifCond selectedReward 'Trainer' }} checked="true" {{/ifCond}}></input>
                        <label for="radio-list-reward2-0" data-cover="" data-cover-alt="Image for room"  data-cover-size="sm" class="cover">
                            <div class="radio-list-overlay">
                                <h4 class="title">FREE Personal Trainer Session</h4>
                            </div>
                        </label>
                    </div>
                </article>
                 <article class="radio-list-block col-md-4">
                    <div class="radio-list-body">
                        <input type="radio" id="radio-list-reward2-1" class="check" name=reward {{#ifCond selectedReward 'Camp' }} checked="true" {{/ifCond}}></input>
 
                        <label for="radio-list-reward2-1" data-cover="" data-cover-alt="Image for room"  data-cover-size="sm" class="cover">

                            <div class="radio-list-overlay">
                                <h4 class="title">Kids Kamp with Dad</h4>
                            </div>
                        </label>
                    </div>
                </article>
                <article class="radio-list-block col-md-4">
                    <div class="radio-list-body">
                        <input type="radio" id="radio-list-reward2-2" class="check" name=reward {{#ifCond selectedReward 'Points' }} checked="true" {{/ifCond}}></input>
                        <label for="radio-list-reward2-2" data-cover="" data-cover-alt="Image for room"  data-cover-size="sm" class="cover">
                            <div class="radio-list-overlay">
                                <h4 class="title">Earn MEGA Points!</h4>
                            </div>
                        </label>
                    </div>
                </article>
            </section>
        </div>
    </div>
</section>